.splash_message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
}

.splash-screen {
    background-color: var(--brand);
    color: white;
    opacity: 1;
    transition: opacity 2.3s ease-out;
    /* visibility: visible; */
}


.splash-screen.hidden {
    opacity: 0;
    /* visibility: hidden; */
}
  