.section-title h2 {
    color: var(--brand);
}


.logIn {
    cursor: pointer;
    text-decoration: underline;
    color: var(--brand);
}

.custom-input {
    border-color: #dee2e6;
    outline: none;
    box-shadow: none;
    padding: 12px 10px;
}