.dashboard-section {
    position: relative;
}

.sidebar {
    background-color: var(--brand);
    color: var(--white);
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16.675%;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 5px);    
}

.sidebar-title {
    margin-bottom: 0;
    font-size: 1.5rem;
    padding-bottom: 0px;
    padding-left: 10px;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    padding-right: 20px;
}

.splash-logo {
    z-index: 2 !important;
    margin-bottom: 0 !important;
}

.nav-link {
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--white);
    font-weight: 500;
}

.nav-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 300px) {
    .sidebar-title {
        font-size: 14px;
    }
}

.main-content {
    position: relative;
    height: 100%;
    margin-left: 16.675%;
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.photo_card {
    padding: 4px 2px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.photo_card img {
    transition: all 1s ease;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 8/9;
    overflow: hidden;
    border-radius: 22px;
    display: block;
    height: auto;
}

.photo_card img:hover {
    transform: scale(1.1);
}

.photo_card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 10px 10px 10px;
    /* background-color: rgba(0, 0, 0, 0.039); */
    /* background: 'linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) 70%, transparent)'; */
    /* box-shadow: inset 0 -10px 20px -100px rgba(0, 0, 0, 0.7); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.overlay h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: white;
    text-overflow: ellipsis;
}

.overlay strong {
    font-size: 1.1rem;
    color: white;
}
  

.overlay .circle {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 500px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .circle svg {
    position: relative;
    color: black;
}



@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}


.overlay .circle:hover {
    transform: scale(1.05);
    animation: pulse 1.5s infinite;
}

/* XS screen adjustments */
@media (max-width: 575.98px) {
    .overlay {
      padding: 0.5rem;
    }
    
    .overlay h6 {
      max-width: 80px;
    }

    .category-btns {
        flex-direction: row;
    }

    .category-btns li {
        margin-right: 30px;
    }

    .sidebar {
        height: auto;
    }
    
    .circle {
      width: 25px;
      height: 25px;
    }
}

@media (min-width: 1020px) {
    .category-btns {
        flex-direction: column;
        justify-content: space-between;
    }
}


/* Mobile screens */
@media (max-width: 800px) {
    .sidebar-content {
        flex-direction: column;
        justify-content: flex-start;
    }

    .sidebar-container{
        height: auto;
    }

    /* .nav {
        flex-direction: row;
    } */

    .category-btns li {
        margin-right: 30px;
    }

    .sidebar {
        position: relative;
        width: 100%;
        position: sticky;
        z-index: 1000;
        /* min-width: auto; */
        /* bottom: auto; */
    }

    .main-content {
        margin-left: 0;
    }

    .category-btns {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 800px) and (max-width: 1020px) {
    .sidebar-title {
        font-size: 16px;
    }

    .logout {
        margin-bottom: 12px;
    }

    .sidebar {
        min-height: 100vh;
    }
}

.photo_card .black {
    color: black;
}


/* Hide the checkbox */
.menu-toggle {
    display: none;
}

/* Style the hamburger icon */
.hamburger {
    display: none;
    font-size: 28px;
    padding: 2px 10px;
    cursor: pointer;
    color: white;
    background-color: #333;
    width: max-content;
}

/* Sidebar by default */
.sidebar-content-wrapper {
    display: block;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .sidebar-content-wrapper {
        display: none;
    }

    /* Show menu when checkbox is checked */
    .menu-toggle:checked ~ .sidebar-content-wrapper {
        display: block;
    }

    .sidebar {
        padding: 1rem;
    }

    .hamburger {
        display: flex;
    }

    .sidebar-container {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .sidebar-content {
        display: block;
        width: 100%;
    }

    .category-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .category-btns .nav-item {
        width: 100%;
        margin-bottom: 10px;
    }
}