.fruit-basket img {
    width: 380px;
    height: 380px;
}


@media (min-width: 300px) and (max-width: 602px) {
    .fruit-basket img {
        width: unset;
        height: 300px;
    }    
}


@media (max-width: 300px) {
    .fruit-basket img {
        width: inherit;
        height: inherit;
    }
}